<main>
  <ng-container *ngIf="!isConnected">
    <form [formGroup]="f" (ngSubmit)="submit()">
      <label>
        <div>Login</div>
        <input type="text" formControlName="login" />
      </label>
      <label>
        <div>Password</div>
        <input type="password" formControlName="password" />
      </label>
      <button class="primary">Connect</button>
    </form>
  </ng-container>
  <ng-container *ngIf="isConnected">
    <button class="primary" (click)="logout()">Disconnect</button>
  </ng-container>

  <button class="secret" (click)="getSecret()">Access to the secret</button>
  <div *ngIf="secret">{{ secret | json }}</div>
</main>
